@media screen and (min-width: 768px) {
  body {
    max-width: 840px;
    margin: 0 auto;
  }

  .menu-logo {
    /*padding: 0;*/
  }

  .menu-icon {
    display: none;
  }

  header {
    padding: 0;
    border-bottom: solid 2px var(--color-light-grayish-blue);
  }

  .menu-desktop {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: .9rem;
    color: var(--color-dark-grayish-blue);
    gap: .8rem;
  }

  .menu-desktop > li {
    padding: 2rem 0;
    border-bottom: 3px solid transparent;
    transition: border-color 0.2s ease;
  }

  .menu-desktop > li:hover {
    border-color: var(--color-primary-orange);
    cursor: pointer;
    color: var(--color-very-dark-blue);
  }

  main {
    margin-top: 4rem;
    flex-direction: row;
  }

  .product, .product-description {
    flex-basis: 50%;
  }

  .product {
    flex-direction: column;
    padding: 0 3rem;
  }

  .arrows {
    display: none;
  }

  .product > img {
    border-radius: .7rem;
  }

  .product-images {
    display: flex;
    justify-content: space-between;
  }

  .product-images > .product-preview {
    margin-top: 1.5rem;
    width: 4.5rem;
    border-radius: .6rem;
    cursor: pointer;
  }

  .product-images > .product-preview:hover {
    opacity: 50%;
  }

  .image-active {
    border: 1px solid black;
  }

  .product-price {
    flex-direction: column;
    align-items: normal;
    gap: .5rem;
  }

  .quantity-add-item {
    display: flex;
    justify-content: space-between;
  }

  .how-much {
    flex-basis: 40%;
    height: 3rem;
    border-radius: .5rem;
  }

  .add-to-cart-btn {
    margin: 0;
    flex-basis: 50%;
    cursor: pointer;
  }

  .add-to-cart-btn:hover {
    background: #faaf70;
    cursor: pointer;
  }

  #cart-floating {
    width: 20rem;
    right: 5px;
    left: auto;
    overflow: clip;
  }

  .product-thumb-discard, .checkout {
    cursor: pointer;
  }

  .how-much {
    padding: 0;
    height: auto;
    align-items: stretch;
  }

  .how-much > div {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 1rem;
  }

  .how-much > span {
    align-self: center;
  }

}