@media screen and (min-width: 768px) {
  body {
    max-width: 780px;
    margin: 0 auto;
  }

  .menu-icon {
    display: none;
  }

  header {
    padding: 1.5rem .5rem;
    border-bottom: solid 2px var(--color-light-grayish-blue);
  }

  .menu-desktop {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: .9rem;
    color: var(--color-dark-grayish-blue);
    gap: .8rem;
  }

  main {
    margin-top: 4rem;
    flex-direction: row;
  }

  .product, .product-description {
    flex-basis: 50%;
  }

  .product {
    padding: 0 3rem;
  }

  .arrows {
    display: none;
  }

  .product > img {
    border-radius: .7rem;
  }



}