:root {
  --color-primary-orange: hsl(26, 100%, 55%);
  --color-primary-pale-orange: hsl(25, 100%, 94%);
  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-grayish-blue: hsl(220, 14%, 75%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('styles/fonts/kumbh_sans/static/KumbhSans-Regular.ttf') format('ttf'),
    url('styles/fonts/kumbh_sans/static/KumbhSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('styles/fonts/kumbh_sans/static/KumbhSans-SemiBold.ttf') format('ttf'),
    url('styles/fonts/kumbh_sans/static/KumbhSans-SemiBold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}


body {
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  top: 0;
  position: sticky;
  z-index: 2;
  background-color: var(--color-white);
  width: 100%;
}

.menu-logo,
.cart-profile {
  display: flex;
  align-items: center;
}

.menu-logo {
  gap: 1rem;
}

.menu-icon {
  cursor: pointer;
}

.cart-profile {
  gap: 1.5rem;
}

.cart-icon {
  cursor: pointer;
}

h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

.profile-image {
  width: 26px;
}

main {
  display: flex;
  flex-direction: column;
}

.product {
  position: relative;
  height: 20rem;
  width: 100%;
  display: flex;
}

.product>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.arrows {
  cursor: pointer;
  position: absolute;
  background-color: white;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 50%;
  z-index: 1;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.product img {
  display: block;
  width: 100%;
  height: auto;
}

.product-description {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.description-text>p:first-of-type {
  color: var(--color-dark-grayish-blue);
  font-size: .8rem;
  letter-spacing: .15rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.description-text>h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: .9rem 0;
}

.description-text :last-child {
  color: var(--color-dark-grayish-blue);
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.price-percentage {
  display: flex;
  gap: 1rem;
}

.current-price {
  font-size: 1.6rem;
  font-weight: 700;

}

.offer-percentage {
  background-color: var(--color-very-dark-blue);
  border-radius: 0.5rem;
  width: 3rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-percentage {
  color: var(--color-white);
  font-weight: 700;
}

.old-price {
  color: var(--color-dark-grayish-blue);
  font-weight: 700;
  text-decoration: line-through;
}

.how-much {
  border-radius: 1rem;
  background-color: var(--color-light-grayish-blue);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.add-to-cart-btn {
  border: none;
  display: flex;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-primary-orange);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.add-to-cart-btn.inactive {
  background-color: var(--color-grayish-blue);
  cursor: default;
}

.add-to-cart {
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-very-dark-blue);
}

#menu {
  position: absolute;
  z-index: 2;
  background-color: var(--color-white);
  bottom: -91dvh;
  width: 60dvw;
  height: 100dvh;
  padding: 2rem;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: .9rem;
  left: -60dvw;
  transition: transform 0.2s ease;
}

#menu.visible {
  transform: translateX(60dvw);
}

.close-menu-btn svg {
  cursor: pointer;
}

#menu li:first-of-type {
  margin-bottom: 2rem;
}

#menu li {
  margin-bottom: 1rem;
}
#menu a {
  color: var(--color-very-dark-blue);
}

#cart-floating {
  border: solid 1px var(--color-grayish-blue);
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--color-white);
  width: 95%;
  height: 14rem;
  max-height: 18rem;
  left: 10px;
  top: -19rem;
  z-index: 2;
  border-radius: .7rem;
  transition: transform 0.2s ease;
  -webkit-box-shadow: 2px 1px 7px 0 rgba(0,0,0,0.56);
  -moz-box-shadow: 2px 1px 7px 0 rgba(0,0,0,0.56);
  box-shadow: 2px 1px 7px 0 rgba(0,0,0,0.56);
  overflow: scroll;
}

#cart-floating.visible {
  transform: translateY(23rem);
}

.cart-header {
  padding: 1.5rem;
  font-weight: 700;
  border-bottom: solid 1px lightgrey;
}

.cart-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1.5rem;
}

.cart-body p {
  align-self: center;
}

#cart-body-filled {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.product-thumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-thumb-limit {
  width: 3rem;
  border-radius: .5rem;
  overflow: hidden;
}

.product-thumb-limit img {
  width: 100%;
}

.product-thumb-description {
  padding: 0 .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  color: var(--color-dark-grayish-blue);
}

.product-thumb-description > div {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.final-price, .product-thumb-description > div > span:last-child {
  color: black;
  font-weight: bold;
}

.checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
  border-radius: .5rem;
  background-color: var(--color-primary-orange);
  display: none;
}

.checkout-text {
  color: var(--color-very-dark-blue);
  font-weight: 600;
}

.checkout.visible {
  display: flex;
}

.cart-body p {
  font-weight: 700;
  color: var(--color-dark-grayish-blue);
}
